@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    201310923<br />
    Lee Sangmin<br />
    <abbr title="Phone">P:</abbr>
    000-0000-0000
</address>

<address>
    <strong>Chonbuk National University : </strong> <a href="https://www.jbnu.ac.kr/kor/">https://www.jbnu.ac.kr/kor/</a><br />
    <strong>Division of Computer Engineering : </strong> <a href="https://cse.chonbuk.ac.kr/">https://cse.chonbuk.ac.kr/</a><br />
</address>
